DATABASE_URL="postgresql://hesed_arabic:HesedArabic@2026@localhost:5432/hesed_arabic"
NEXTAUTH_SECRET="gere-uma-chave-secreta-aqui-32chars"
NEXTAUTH_URL="http://localhost:3001"
REDIS_URL="redis://localhost:6379"
ANTHROPIC_API_KEY=""
# OPENAI_API_KEY="" # opcional, não necessário para EN→AR
# DEEPL_API_KEY=""  # DeepL não suporta árabe
