DATABASE_URL="postgresql://hesedapp:HesedDB@2026@localhost:5432/hesedtranslation"
NEXTAUTH_SECRET="gere-uma-chave-secreta-aqui-32chars"
NEXTAUTH_URL="https://hesedtranslation.com/app"
REDIS_URL="redis://localhost:6379"
DEEPL_API_KEY=""
ANTHROPIC_API_KEY=""
